
/* Site navigation */

.navigation {
    li {
        @include rem(margin-bottom, $pigeon-type-line-height / 2);
    }
    a {
        display: block;
        @include rem(padding, 10px);
        background-color: $c-teal;
        border: 0;
        text-decoration: none;
        
        &, &:visited {
            color: $pigeon-type-color;
        }
        &:hover {
            background-color: $c-teal-dk;
            color: #fff;
        }
    }
}
